<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IOrderInspectionService" />
        </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58371/pageservice.svc" binding="basicHttpBinding"
          contract="TechData.EC.Services.WebContent.Interface.IPageService" name="PageService"/>
    </client>
  </system.serviceModel>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>